---
import css from "./Paged.module.css";

interface Props {
  prev: string | undefined;
  next: string | undefined;
  current_page: number;
}

const { prev, current_page, next } = Astro.props;
---

<nav class={css.paged}>
  <a href={prev} class:list={[!prev && css.disable]}>Atrás</a>
  <span>{current_page}</span>
  <a href={next} class:list={[!next && css.disable]}>Sigt</a>
</nav>
