.paged {
  display: flex;
  justify-content: center;
  gap: var(--md);

  > * {
    padding: var(--md) var(--xl);
  }

  a {
    border-radius: var(--md);
    border: 1px solid;
    background-color: royalblue;
    color: whitesmoke;
  }

  .disable {
    background-color: initial;
    color: initial;
    cursor: not-allowed;
  }
}
