---
import type { GetStaticPaths } from "astro";
import { getPokemons } from "../../services/getPokemons";

export const getStaticPaths = (async ({ paginate }) => {
  const pokemons = (await getPokemons(51)).results;

  return paginate(pokemons, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

console.log(page);
---

<h1>asdf</h1>
