.pokemon_view {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;

  .card {
    max-width: 340px;
    border: 1px solid gray;
    border-radius: var(--md);
    padding: var(--lg);
    position: relative;

    .like,
    .like_out {
      position: absolute;
      right: var(--lg);
      top: var(--lg);
      cursor: pointer;
    }

    .pokemon {
      border: none;
    }
  }
}
