---
import type { GetStaticPaths } from "astro";
import { getPokemons } from "../services/getPokemons";
export const getStaticPaths = (async () => {
  const pokemons = (await getPokemons()).results;

  return pokemons.map(({ name }) => ({ params: { name } }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<h1>{name}</h1>
