---
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [{ params: { name: "bulbasaur" } }];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<h1>{name}</h1>
