---
import Layout from "@layouts/Layout.astro";
import type { PokemonsRes } from "../types/pokemons_res";

const pokemons_fetch = await fetch("https://pokeapi.co/api/v2/pokemon");
const res_pokemons = (await pokemons_fetch.json()) as PokemonsRes;
---

<Layout title="Inicio">
  <h1>Pokemons</h1>
  <ul>
    {res_pokemons.results.map((item) => <li>{item.name}</li>)}
  </ul>
</Layout>
