---
import PokemonList from "../components/PokemonList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
  <main class="grid gap-2">
    <PokemonList />
  </main>
</Layout>
