---
import Layout from "@layouts/Layout.astro";
import Counter from "src/react/Counter";
import { ROUTER } from "./router";
---

<Layout title={ROUTER.islas.display}>
  <main class="grid place-content-center">
    <Counter client:load />
  </main>
</Layout>
