---
import { ROUTER } from "../pages/router";
---

<nav class="p-4 flex gap-2 border-b justify-center">
  <a class="hover:text-cyan-700" href={ROUTER.index.path}
    >{ROUTER.index.display}</a
  >
  <a class="hover:text-cyan-700" href={ROUTER.contacto.path}
    >{ROUTER.contacto.display}</a
  >
</nav>
