---
import { getPokemonImg } from "../services/getPokemonImg";
import PokemonCard from "./PokemonCard.astro";
import type { Pokemon } from "../types";

interface Props {
  pokemons: Pokemon[];
}

const { pokemons } = Astro.props;
---

<section
  class="grid grid-cols-[repeat(auto-fit,200px)] justify-center p-4 gap-2"
>
  {
    pokemons.map(({ name, url }) => (
      <PokemonCard title={name} img={getPokemonImg(url)} />
    ))
  }
</section>
