---
import { getPokemons } from "../services/getPokemons";
import { getPokemonImg } from "../services/getPokemonImg";
import PokemonCard from "./PokemonCard.astro";

const pokemonRes = await getPokemons();
---

<section
  class="grid grid-cols-[repeat(auto-fit,200px)] justify-center p-4 gap-2"
>
  {
    pokemonRes.results.map(({ name, url }) => (
      <PokemonCard title={name} img={getPokemonImg(url)} />
    ))
  }
</section>
