---
interface Props {
  title: string;
  img: string;
}

const { title, img } = Astro.props;
---

<a href={`/${title}/`} class="border-2 rounded-md pt-2">
  <div class="text-center capitalize">{title}</div>
  <img src={img} alt={title} />
</a>
