---
import { getPokemons } from "../services/getPokemons";
import { getPokemonImg } from "../utils/getPokemonImg";
import PokemonCard from "./PokemonCard.astro";

const pokemonRes = await getPokemons();
---

<section
  class="grid grid-cols-[repeat(auto-fit,200px)] justify-center p-4 gap-2"
>
  {
    pokemonRes.results.map((item) => {
      const pokemonId = Number(item.url.split("/").at(-2));

      return <PokemonCard title={item.name} img={getPokemonImg(pokemonId)} />;
    })
  }
</section>
